<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03" targetFramework="net461" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net461" />
</packages>